.introsection {
    width: 100%;
min-height: 856px;
background-image: url("./background_3.jpeg");
background-repeat: no-repeat;
background-size: cover;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;
align-content: center;
color:white;

}

.text{
    width: 1548px;
    min-height: 776px;
    height: auto;
    margin: 120px 0 0 auto;
   
   }

.header{
    text-transform: uppercase;
    letter-spacing: 9px;
    font-size: 8.125rem;
    font-weight: 700;
    margin: 0 auto 0 -206px;
    color: white;
    line-height: 0.8;

    
}
.subheader{
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 2.875rem;
    font-weight: 400px;
    margin: 50px auto 0 -177px;
    color: white;}