.cartContent {
  position: fixed;
  right: 50px;
  top:20px;
  z-index:500;
  margin: -12px 57px;
}

.basketLogo {
 
  height: 35px;
  margin: -21px -42px;
}

.counter {
  width: 10px;
  display: inline-block;
  line-height: 10px;
  border-radius: 50%;
  background-color: red;
  padding: 12px;
  font-size: 1.2em;
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: -25px -7px;
}