/* BasketDetails.module.scss */

.gridContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: -6px;
    max-width: 50vw;
    margin: 172px auto 268px 548px;
    background-color: rgb(233, 233, 233);
    padding: 60px;
    margin-top: -13px;
    position: relative;
    max-height: 75vh;
    overflow: auto;
    border-radius: 20px;
    
  }
  
  .gridContainer::-webkit-scrollbar {
    width: 6px; /* Dostosuj szerokość paska przewijania */
  }
  
  .gridContainer::-webkit-scrollbar-thumb {
    // background-color: #888; /* Kolor paska przewijania */
    border-radius: 3px;
  }
  
//   .gridContainer::-webkit-scrollbar-thumb:hover {
//     // background-color: #555; /* Kolor paska przewijania po najechaniu */
//   }

  .gridItem {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 10px;
    overflow: auto;
  }
  
  .itemInfo {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
    width: calc(23% - -820px);
    border-radius: 20px;
    color: #111111;
    background-color: #ffffff;
	align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 16px;
    text-align: center;
    margin: 20px;
    padding: 20px 20px 20px;
    display: flex;

  }
  
  .title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .cartPhoto {
    width: 100px;
    height: 100px;
  }
  
  .totalPrice {
    font-size: 18px;
    margin-top: 20px;
  }
  
  .buttonsContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    position: sticky;
    bottom: 0;
  
    padding: 10px; /* Dodaj odpowiednie wcięcie */
  }
  
  .close {
    position: absolute; 
    width: 60px;
    border-radius: 50%;
    top: 60px;
    right: 40px;
    transform: translateY(-50%);
    z-index: 2;
    
    // &:hover {
    //   transform: translateY(-1px);
    //   box-shadow: 0 10px 34px 0 rgba(188, 182, 184, 0.845)
    // }
  }

  .buy{
    display: flex;
align-items: center;
padding: 10px 15px 10px 15px;
border-radius: 6px;
border: 2px solid currentColor;
color: var(--primary);
background: none;
cursor: pointer;
font-weight: bold;
text-decoration: none;
margin: 35px auto;
font-size: 20px;


&:hover {
    transform: translateY(-1px);
    box-shadow: 0 10px 34px 0 rgba(188, 182, 184, 0.845)
}}
  
.minus {
    margin-right: 10px;
    width: 40px;
  }

